/*@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --unique-header-height: 3rem;
    --unique-nav-width: 68px;
    --unique-first-color: #4723d9;
    --unique-first-color-light: #afa5d9;
    --unique-white-color: #f7f6fb;
    --unique-body-font: 'Nunito', sans-serif;
    --unique-normal-font-size: 1rem;
    --unique-z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--unique-header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--unique-body-font);
    font-size: var(--unique-normal-font-size);
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.unique-header {
    width: 100%;
    height: var(--unique-header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--unique-white-color);
    z-index: var(--unique-z-fixed);
    transition: 0.5s;
}

.unique-header_toggle {
    color: var(--unique-first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.unique-header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

    .unique-header_img img {
        width: 40px;
    }

.unique-l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--unique-nav-width);
    height: 100vh;
    background-color: var(--unique-first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--unique-z-fixed);
}

.unique-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.unique-nav_logo,
.unique-nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.unique-nav_logo {
    margin-bottom: 2rem;
}

.unique-nav_logo-icon {
    font-size: 1.25rem;
    color: var(--unique-white-color);
}

.unique-nav_logo-name {
    color: var(--unique-white-color);
    font-weight: 700;
}

.unique-nav_link {
    position: relative;
    color: var(--unique-first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

    .unique-nav_link:hover {
        color: var(--unique-white-color);
    }

.unique-nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

.unique-body-pd {
    padding-left: calc(var(--unique-nav-width) + 1rem);
}

.active {
    color: var(--unique-white-color);
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--unique-white-color);
    }

.unique-height-100 {
    height: 100vh;
}

.unique-bg-light {
    background-color: #f7f6fb;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--unique-header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--unique-nav-width) + 2rem);
    }

    .unique-header {
        height: calc(var(--unique-header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--unique-nav-width) + 2rem);
    }

    .unique-header_img {
        width: 40px;
        height: 40px;
    }

        .unique-header_img img {
            width: 45px;
        }

    .unique-l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--unique-nav-width) + 156px);
    }

    .unique-body-pd {
        padding-left: calc(var(--unique-nav-width) + 188px);
    }
}
*/